name: Build
on:
  workflow_dispatch:
    inputs:
      build_type:
        description: Select build type
        default: debug
        type: choice
        options:
          - debug
          - release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: "17"
          cache: "gradle"

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Validate Gradle wrapper
        uses: gradle/actions/wrapper-validation@v4

      - name: Decode Keystore
        run: echo "$SIGNING_KEY" | base64 --decode > app/release_key.jks
        env:
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}

      - name: Build APK
        run: ./gradlew assemble${{ inputs.build_type == 'release' && 'Release' || 'Debug' }}
        env:
          KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
          ALIAS: ${{ secrets.ALIAS }}

      - name: Upload Debug APK
        if: ${{ inputs.build_type == 'debug' }}
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/app-debug.apk

      - name: Extract versionName
        if: ${{ inputs.build_type == 'release' }}
        id: app_version
        run: |
          version=$(jq -r '.elements[0].versionName' app/build/outputs/apk/release/output-metadata.json)
          echo "appVersion=$version" >> $GITHUB_OUTPUT

      - name: Create Release
        if: ${{ inputs.build_type == 'release' }}
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: app/build/outputs/apk/release/app-release.apk
          tag: ${{ steps.app_version.outputs.appVersion }}
          asset_name: Game.Hub.v${{ steps.app_version.outputs.appVersion }}.apk
          release_name: Release ${{ steps.app_version.outputs.appVersion }}
          overwrite: true